///// COLOR /////
///// bluegrayscale /////
$black: #171718;
$gray-1: #2E2E33;
$gray-2: #45454A;
$gray-3: #5D5D62;
$gray-4: #74747B;
$gray-5: #8B8B91;
$gray-6: #A2A2A8;
$gray-7: #B9B9BE;
$gray-8: #D1D1D5;
$gray-9: #E8E8EC;
$gray-10: #F6F6F9;
$white: #FFFFFF;

.black {
    color: $black;
}

.gray-1 {
    color: $gray-1;
}

.gray-2 {
    color: $gray-2;
}

.gray-3 {
    color: $gray-3;
}

.gray-4 {
    color: $gray-4;
}

.gray-5 {
    color: $gray-5;
}

.gray-6 {
    color: $gray-6;
}

.gray-7 {
    color: $gray-7;
}

.gray-8 {
    color: $gray-8;
}

.gray-9 {
    color: $gray-9;
}

.gray-10 {
    color: $gray-10;
}

.white {
    color: $white;
}

///// twilight /////
$twilight-1: #220082;
$twilight-2: #2C00A9;
$twilight-3: #3600D1;
$twilight-4: #460CEC;
$twilight-5: #5316FF;
$twilight-6: #7545FF;
$twilight-7: #9873FF;
$twilight-8: #BAA2FF;
$twilight-9: #DDD0FF;
$twilight-10: #F1ECFF;

.twilight-1 {
    color: $twilight-1;
}

.twilight-2 {
    color: $twilight-2;
}

.twilight-3 {
    color: $twilight-3;
}

.twilight-4 {
    color: $twilight-4;
}

.twilight-5 {
    color: $twilight-5;
}

.twilight-6 {
    color: $twilight-6;
}

.twilight-7 {
    color: $twilight-7;
}

.twilight-8 {
    color: $twilight-8;
}

.twilight-9 {
    color: $twilight-9;
}

.twilight-10 {
    color: $twilight-10;
}

///// red /////
$red-1: #A71111;
$red-2: #CA2323;
$red-3: #DB2D2D;
$red-4: #E93E3E;
$red-5: #F34E4E;
$red-6: #F67171;
$red-7: #F89595;
$red-8: #FAB8B8;
$red-9: #FDDCDC;
$red-10: #FEF1F1;

.red-1 {
    color: $red-1;
}

.red-2 {
    color: $red-2;
}

.red-3 {
    color: $red-3;
}

.red-4 {
    color: $red-4;
}

.red-5 {
    color: $red-5;
}

.red-6 {
    color: $red-6;
}

.red-7 {
    color: $red-7;
}

.red-8 {
    color: $red-8;
}

.red-9 {
    color: $red-9;
}

.red-10 {
    color: $red-10;
}

///// trans-black /////
$trans-black-1: rgba(23, 23, 24, 0.92);
$trans-black-2: rgba(23, 23, 24, 0.84);
$trans-black-3: rgba(23, 23, 24, 0.76);
$trans-black-4: rgba(23, 23, 24, 0.68);
$trans-black-5: rgba(23, 23, 24, 0.60);
$trans-black-6: rgba(23, 23, 24, 0.52);
$trans-black-7: rgba(23, 23, 24, 0.44);
$trans-black-8: rgba(23, 23, 24, 0.36);
$trans-black-9: rgba(23, 23, 24, 0.28);
$trans-black-10: rgba(23, 23, 24, 0.20);
$trans-black-11: rgba(23, 23, 24, 0.12);
$trans-black-12: rgba(23, 23, 24, 0.04);