// TYPOGRAPHY //
// KOREAN //
.display1-500{
    font-family: 'Pretendard Variable';
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: -0.01em;
}
.display1-700{
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: -0.01em;
}
.display2-500{
    font-family: 'Pretendard Variable';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
}
.display2-700{
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
}

.heading1-500{
    font-family: 'Pretendard Variable';
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
}
.heading1-700{
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
}
.heading2-500{
    font-family: 'Pretendard Variable';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
}
.heading2-700{
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
}
.heading3-500{
    font-family: 'Pretendard Variable';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01em;
}
.heading3-700{
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01em;
}

.body1-500{
    font-family: 'Pretendard Variable';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}
.body1-700{
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}
.body2-500{
    font-family: 'Pretendard Variable';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}
.body2-700{
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

.caption-500{
    font-family: 'Pretendard Variable';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}
.caption-700{
    font-family: 'Pretendard Variable';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0;
}


// ENGLISH //
.eng-display1-500{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: -0.035em;
}
.eng-display1-700{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: -0.035em;
}
.eng-display2-500{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.035em;
}
.eng-display2-700{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.035em;
}

.eng-heading1-500{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.035em;
}
.eng-heading1-700{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.035em;
}
.eng-heading2-500{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.035em;
}
.eng-heading2-700{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.035em;
}
.eng-heading3-500{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.035em;
}
.eng-heading3-700{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.035em;
}